---
import "../styles/global.css";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Infraestructura Médica</title>

		<!-- Preconnect to Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

		<!-- Preload LCP Image -->
		<link
			rel="preload"
			as="image"
			href="/img/hero-img.png"
			fetchpriority="high"
		/>

		<!-- AOS Animation - Non-blocking -->
		<link
			rel="stylesheet"
			href="https://unpkg.com/aos@next/dist/aos.css"
			media="print"
			onload="this.media='all'"
		/>
	</head>
	<body>
		<slot />
		<script is:inline src="https://unpkg.com/aos@next/dist/aos.js"></script>
		<script is:inline>
			// Inicializar AOS
			AOS.init({
				duration: 800,
				once: true,
				disable: "mobile",
				offset: 50,
				easing: "ease-out-quad",
			});
		</script>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		overflow-x: hidden;
	}
</style>
